[Desktop Entry]
Encoding=UTF-8
Name=04 - Python Introduction
Type=Link
URL=https://github.com/ephsmith/rpi/blob/master/doc/python/README.md
Icon=text-html
