[Desktop Entry]
Encoding=UTF-8
Name=06 - Hacking Minecraft
Type=Link
URL=https://projects.raspberrypi.org/en/projects/getting-started-with-minecraft-pi
Icon=text-html
